@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;

  --card: #121212;
  --card-foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #0b0b0b;

  --secondary: #1a1a1a;
  --secondary-foreground: #ffffff;

  --tertiary: #2a2a2a;
  --tertiary-foreground: #ffffff;

  --border: #262626;
  --muted: #71717a;
  --muted-foreground: #ababab;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-border: var(--border);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* Fonts */
  --font-inter: var(--font-inter);
  --font-gambetta: var(--font-gambetta);
}

body {
  background: black;
  color: var(--foreground);
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

@layer components {
  .section-hero-heading {
    @apply font-gambetta lg:text-[5rem] text-[3.5rem] xl:text-[6.25rem] font-medium leading-[1.01] tracking-[-0.02em] text-white;
  }

  .section-heading-1 {
    @apply font-gambetta text-[3rem] font-medium leading-[1.05] tracking-[-0.03em] text-white lg:text-[3.75rem] xl:text-[4.5rem];
  }
  .section-heading-2 {
    @apply font-gambetta text-[2.25rem] font-medium leading-[1.05] tracking-[-0.03em] text-white lg:text-[3rem] xl:text-[3.5rem];
  }
  .section-header-spacing {
    @apply px-5 pb-10 pt-10 lg:px-10 lg:pt-15 xl:pt-20;
  }
  .section-hero-paragraph {
    @apply -tracking-wide text-base font-normal leading-8 text-muted-foreground lg:text-lg;
  }
  .paragraph {
    @apply -tracking-wider text-sm lg:text-base leading-6 text-muted-foreground;
  }
}
